apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-dep
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
        - name: ping-pong
          image: vesajo/ping-pong@sha256:e34ba33c198780ad04dee82361b80ed350dbcdb54606bcbb855806b168a2b8ee
          env:
            - name: POSTGRES_PORT
              value: "5432"
            - name: POSTGRES_HOST
              value: pingpong-postgres-svc
          envFrom:
            - secretRef:
                name: pingpong-postgres-secret
