apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-dep
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
        - name: ping-pong
          image: vesajo/ping-pong@sha256:a003c3740bc24098ec56eb25b1969f2f16b1d752f5bf0a6dbc39654b6f50895b
          env:
            - name: POSTGRES_PORT
              value: "5432"
            - name: POSTGRES_HOST
              value: pingpong-postgres-svc
          envFrom:
            - secretRef:
                name: pingpong-postgres-secret
