apiVersion: batch/v1
kind: CronJob
metadata:
  name: postgres-backup
  namespace: project
spec:
  schedule: "0 2 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: postgres-backup
              image: gcr.io/google.com/cloudsdktool/cloud-sdk:slim
              env:
                - name: PGHOST
                  valueFrom:
                    configMapKeyRef:
                      name: postgres-config
                      key: POSTGRES_HOST
                - name: PGPORT
                  valueFrom:
                    configMapKeyRef:
                      name: postgres-config
                      key: POSTGRES_PORT
                - name: PGUSER
                  valueFrom:
                    configMapKeyRef:
                      name: postgres-config
                      key: POSTGRES_USER
                - name: PGDATABASE
                  valueFrom:
                    configMapKeyRef:
                      name: postgres-config
                      key: POSTGRES_DATABASE
                - name: PGPASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: postgres-secret
                      key: POSTGRES_PASSWORD
                - name: GOOGLE_APPLICATION_CREDENTIALS
                  valueFrom:
                    secretKeyRef:
                      name: postgres-secret
                      key: POSTGRES_PASSWORD
              command:
                - /bin/sh
                - -c
                - |
                  set -e
                  apt-get update && apt-get install -y postgresql-client
                  TIMESTAMP=$(date +"%Y-%m-%d_%H-%M")
                  pg_dump -v > /tmp/backup.sql
                  gsutil cp /tmp/backup.sql gs://todo-backup2026/backup_$TIMESTAMP.sql
