apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-backend-dep
  namespace: project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      containers:
        - name: project
          image: TODO_BACKEND
          env:
            - name: PORT
              value: "3000"
            - name: POSTGRES_PORT
              value: "5432"
            - name: POSTGRES_HOST
              value: todo-postgres-svc
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_DATABASE
              value: postgres
          envFrom:
            - secretRef:
                name: todo-postgres-password
