apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-backend-dep
  namespace: project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      containers:
        - name: project
          image: vesajo/todo-backend@sha256:8598dce67b144dbacfe3277c953e8483f048250af3c3cfdd9d806ed570c05756
          env:
            - name: PORT
              value: "3000"
            - name: POSTGRES_PORT
              value: "5432"
            - name: POSTGRES_HOST
              value: todo-postgres-svc
          envFrom:
            - secretRef:
                name: todo-postgres-secret
