apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-backend-dep
  namespace: project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      containers:
        - name: project
          image: vesajo/todo-backend@sha256:88ffdb986dcc1f3f67378c8a80697f9230bdd3453626678e8c6f3044665c67bb
          env:
            - name: PORT
              value: "3000"
            - name: POSTGRES_PORT
              value: "5432"
            - name: POSTGRES_HOST
              value: todo-postgres-svc
          envFrom:
            - secretRef:
                name: todo-postgres-secret
