apiVersion: apps/v1
kind: Deployment
metadata:
  name: broadcaster-dep
  namespace: project
spec:
  replicas: 6
  selector:
    matchLabels:
      app: broadcaster
  template:
    metadata:
      labels:
        app: broadcaster
    spec:
      containers:
        - name: broadcaster
          image: vesajo/broadcaster@sha256:5abd162204d94a669cb879287fa63188fe891152ef287d2f1fade0dead94702d
          env:
            - name: NATS_URL
              value: "nats://my-nats.default.svc.cluster.local:4222"
          envFrom:
            - secretRef:
                name: discord-webhook
          resources:
            limits:
              cpu: "100m"
              memory: "100Mi"
            requests:
              cpu: "10m"
              memory: "40Mi"
