apiVersion: apps/v1
kind: Deployment
metadata:
  name: project-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: project
  template:
    metadata:
      labels:
        app: project
    spec:
      volumes:
        - name: image-vol
          persistentVolumeClaim:
            claimName: project-claim
      containers:
        - name: project
          image: vesajo/project@sha256:1f606da0ce375b5402af5040d66a011c6795bc4faa80f3977a8d2c6f152b6a3c
          env:
            - name: PORT
              value: "3000"
          volumeMounts:
            - name: image-vol
              mountPath: /app/public/images
