apiVersion: apps/v1
kind: Deployment
metadata:
  name: project-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: project
  template:
    metadata:
      labels:
        app: project
    spec:
      volumes:
        - name: image-vol
          persistentVolumeClaim:
            claimName: project-claim
      containers:
        - name: project
          image: vesajo/project@sha256:8b7c6c5bcd2e120c46bcc1c5d7cd39dddbe9ef885e248530e792c1d09a3b6d8c
          env:
            - name: PORT
              value: "3000"
          volumeMounts:
            - name: image-vol
              mountPath: /app/public/images
