apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-dep
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
        - name: ping-pong
          image: vesajo/ping-pong@sha256:e906f4176eee6a459f48ef460dc4bd7ca6b35213315afc41b70bf768f008a99a
          ports:
            - containerPort: 3000
          env:
            - name: POSTGRES_PORT
              value: "5432"
            - name: POSTGRES_HOST
              value: pingpong-postgres-svc
            - name: PORT
              value: "3000"
          envFrom:
            - secretRef:
                name: pingpong-postgres-secret
          readinessProbe:
            initialDelaySeconds: 5
            periodSeconds: 5
            httpGet:
              path: /readyz
              port: 3000
