apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-dep
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
        - name: ping-pong
          image: vesajo/ping-pong@sha256:95ce23d067dbbd2528c5765df7762a475890c070ff718806cc2cd4656e192e55
          ports:
            - containerPort: 3000
          env:
            - name: POSTGRES_PORT
              value: "5432"
            - name: POSTGRES_HOST
              value: pingpong-postgres-svc
            - name: PORT
              value: "3000"
          envFrom:
            - secretRef:
                name: pingpong-postgres-secret
          readinessProbe:
            initialDelaySeconds: 5
            periodSeconds: 5
            httpGet:
              path: /healthz
              port: 3000
