apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      volumes:
        - name: shared-count
          persistentVolumeClaim:
            claimName: log-output-claim
      containers:
        - name: ping-pong
          image: vesajo/ping-pong@sha256:a59bd0ba760e18f81ef9b96bae0fc5553bd28b3b45c935a6b19e5b713c5dd727
          volumeMounts:
            - name: shared-count
              mountPath: /app/files
